body{
	margin: 0;
	padding: 0;
}

header{
	background: #0083BB;
}
.container{
	max-width: 1110px;
	margin: 0 auto;
}
.container_header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav__list{
	display: flex;
	list-style: none;
}
.nav__item{
	color: #FFF;
	font-family: Nico Moji;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-right: 63px;
}
main{

}
.hero-block{
	background: #B5B5B5;
}
.container_hero-block{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 90px 0 91px 0;
}
.hero-block__title{
	color: #E4E4E4;
font-family: Nico Moji;
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hero-block__btn{
	border-radius: 6px;
	background: #0182FF;
	color: #FFF;
    font-family: Nico Moji;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 15px 26px 15px 26px;
}
.about{
	background: #B5B5B5;
}
.container_about{
	padding: 70px 0px 154px 0px;
}
.about__title{
	color: #FFF;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
margin-bottom: 107px;
}
.about__content{
    display: flex;
	justify-content: space-between;
	align-items: center;
	color: #FFF;
}
.about__text{
	max-width: 453px;
	color: #FFF;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.video{
	background: #B5B5B5;
}
.container_video{
	padding: 70px 0px 98px 0px;
}
.video__title{
	color: #E4E4E4;
    font-family: Nico Moji;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
	margin-bottom: 38px;
	text-align: center;
}
.video__video{
	width: 100%;
	height: 568px;
	border: 50px solid #414141;
	border-radius: 29px;
	box-sizing: border-box;
}
.gallary{
	background: #B5B5B5;
	padding: 70px 0;
}
.gallary__title{
	color: #E4E4E4;
    font-family: Nico Moji;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
	text-align: center;
}
.gallary__list{
    display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}
.gallary__img{
	width: 100%;
	height: 379px;
}
.gallary__item{
	width: 50%;
}
.footer{
	background: #0083BB;
}
.container__footer{
	padding: 50px 0 50px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__title{
	color: #E4E4E4;
    font-family: Nico Moji;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
	margin-bottom: 18px;
}
.footer__text{
	color: #E4E4E4;
    font-family: Nico Moji;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer__list{
	display: flex;
	list-style: none;
}
.footer__item:not(:last-child){
	margin-right: 40px;
}

.arrow__img{
	width: 70px;
	position: fixed;
	bottom: 20px;
	left: 30px;
}